[submodule "Day-0.2-organizing-complex-days/example_submodule"]
	path = Day-0.2-organizing-complex-days/example_submodule
	url = https://github.com/hagata/ranmoji.git
[submodule "Day-11-Ember-explorer/explorer"]
	path = Day-11-Ember-explorer/explorer
	url = https://github.com/hagata/ember-explorer.git

[submodule "ionic-test-gh-repo-finder"]
	path = ionic-test-gh-repo-finder
	url = https://github.com/hagata/ionic-test-gh-repo-finder.git
