<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="css/style.css" rel="stylesheet">-->
        <style>
            body {font-family: sans-serif}
        </style>
    </head>
    <body>

    {% block content %}
    {% endblock %}

    <!--Socket IO Client-->
    <script src="node_modules/socket.io-client/socket.io.js"></script>
    <script src="js/app.js"></script>
    </body>
</html>